a {
  color: #ccc;
}
section {
  padding: 20px;
}
.hero {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;
  filter: drop-shadow(0 1px 3px);
}
@media screen and (max-width: 768px) {
  .hero {
    font-size: clamp(50px, 7vw, 70px);
  }
}
.demo {
  height: 100px;
  background: #fff;
}
.layers {
  position: relative;
}
.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  z-index: -1;
}
.layers::before {
  top: 10px;
  left: 15px;
  color: #f00;
}
.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}
.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}
.paths,
.glitch span,
.glitch::before,
.glitch::after {
  animation: paths 5s step-end infinite;
}
.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}
.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}
.hero-container {
  position: relative;
  padding: 200px 0;
  text-align: center;
}
.font {
  animation: font 7s step-end infinite;
}
.movement {
  position: relative;
  animation: movement 8s step-end infinite;
}
.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes paths {
  0%,
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
  5% {
    /* ... */
  }
  30% {
    /* ... */
  }
  45% {
    /* ... */
  }
  76% {
    /* ... */
  }
  90% {
    /* ... */
  }
}

@keyframes movement {
  0% {
    top: 0;
    left: -20px;
  }
  15% {
    top: 10px;
    left: 10px;
  }
  60% {
    top: 5px;
    left: -10px;
  }
  75% {
    top: -5px;
    left: 20px;
  }
  100% {
    top: 10px;
    left: 5px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  5% {
    opacity: 0.7;
  }
  30% {
    opacity: 0.4;
  }
  45% {
    opacity: 0.6;
  }
  76% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.8;
  }
  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #f00;
    filter: blur(3px);
  }
  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }
  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }
  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }
  90% {
    font-weight: 500;
    color: #f00;
    filter: blur(6px);
  }
}
